<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="navbar">
<title>Navbar</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:fragment="navbar">

		<nav class="navbar navbar-inverse navbar-fixed-top"
			style="background-color: black;" th:fragment="navbar">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#myNavbar">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/welcome"> <img
						th:src="@{/images/DevDolphins.jpg}" alt="Dev Dolphins"
						style="display: inline-block; height: 30px; margin-right: 10px;">
						Dev Dolphins
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown"> <span class="user-icon"
								></span>
						</a>
							<ul class="dropdown-menu">
								<li><a href="/mycorner}">My Corner</a></li>
								<li><a th:href="@{/updateMyPassword}">Reset Password</a></li>
								<li><a th:href="@{/logout}">Logout</a></li>
							</ul></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

</body>

</html>
