<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update My Password</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand"> <span th:value="${employee.firstname}"></span>Dashboard
				</a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="/welcome"><span
						class="glyphicon glyphicon-home"></span> Back to Home</a></li>
				<li><a href="/logout"><span
						class="glyphicon glyphicon-log-out"></span> Logout</a></li>

			</ul>
		</div>
	</nav>
	<div class="container">
		<h2>Update My Password</h2>
		<form th:action="@{/updateMyPassword}" th:object="${employee}"
			method="post">
			<div class="form-group">
				<label for="firstname">First Name:</label> <input type="text"
					class="form-control" id="firstname" name="firstname"
					th:value="${employee.firstname}" readonly>
			</div>

			<div class="form-group">
				<label for="id">ID:</label> <input type="text" class="form-control"
					id="id" name="id" th:value="${employee.employeeId}" readonly>
			</div>

			<div class="form-group">
				<label for="newPassword">New Password:</label> <input
					type="password" class="form-control" id="newPassword"
					name="newPassword" pattern=".{6,}"
					title="Password must be at least 6 characters long" required>
			</div>
			<div class="form-group">
				<label for="confirmPassword">Confirm Password:</label> <input
					type="password" class="form-control" id="confirmPassword"
					name="confirmPassword" pattern=".{6,}"
					title="Password must be at least 6 characters long" required>
			</div>
			<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
				<span th:text="${errorMessage}"></span>
			</div>
			<div th:if="${successMessage}" class="alert alert-success"
				role="alert">
				<span th:text="${successMessage}"></span>
			</div>
			<button type="submit" class="btn btn-success">Update
				Password</button>

			<a class="btn btn-primary" th:href="@{/welcome}">Back to Home
				Page</a>

		</form>
	</div>

</body>
</html>
