<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Password</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>



	<div class="container">
		<h2>Update Password</h2>
		<form th:action="@{/updatePassword/{id}(id=${Employee.id})}"
			method="post" th:object="${Employee}">
			<div class="form-group">
				<label for="firstname">First Name:</label> <input type="text"
					class="form-control" id="firstname"
					th:value="${Employee.firstname}" readonly>
			</div>
			<div class="form-group">
				<label for="email">Email:</label> <input type="email"
					class="form-control" id="email" th:value="${Employee.email}"
					readonly>
			</div>
			<div class="form-group">
				<label for="newPassword">New Password:</label> <input
					type="password" class="form-control" id="newPassword"
					name="newPassword" required>
			</div>
			<div class="form-group">
				<label for="confirmPassword">Confirm Password:</label> <input
					type="password" class="form-control" id="confirmPassword"
					name="confirmPassword" th:field="*{password}" required>
			</div>
			<button type="submit" class="btn btn-primary">Update Password</button>
		</form>
	</div>
</body>
</html>
