<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>My Leaves</title>
<style>
body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

th, td {
	padding: 10px;
	text-align: left;
}
</style>
</head>
<body>
	<h2>My Leaves</h2>
	<table>
		<tr>
			<th>Type of Leave</th>
			<th>Reason</th>
			<th>Date of Leave</th>
			<th>Applied Date</th>
			<th>Status</th>

		</tr>
		<tr th:each="leave : ${myLeaves}">
			<td th:text="${leave.typeOfLeave}"></td>
			<td th:text="${leave.reason}"></td>
			<td th:text="${leave.dateOfLeave}"></td>
			<td th:text="${leave.appliedDate}"></td>
			<td th:text="${leave.status}"></td>
		</tr>
	</table>
</body>
</html>