<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
		<link rel="stylesheet" th:href="@{/css/navbar.css}">

<head>
<meta charset="UTF-8">
<title>Pending Leaves</title>
<style>
body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

th, td {
	padding: 10px;
	text-align: left;
}
</style>
</head>
<body>
	<div data-th-insert="views/fragments/navbar :: navbar"></div>

	<h2>Employees on leaves today Leaves</h2>
	<table>
		<tr>
			<th>Leave ID</th>
			<th>Employee ID</th>
			<th>Type of Leave</th>
			<th>Reason</th>
			<th>Applied Date</th>
			<th>Leave Balance</th>
		</tr>
		<tr th:each="leave : ${employees}">
			<td th:text="${leave.leaveId}"></td>
			<td th:text="${leave.employeeId}"></td>
			<td th:text="${leave.typeOfLeave}"></td>
			<td th:text="${leave.reason}"></td>
			<td th:text="${leave.appliedDate}"></td>
			<td th:text="${leave.availableLeaves}"></td>
		
		</tr>
	</table>
</body>
</html>
