@charset "ISO-8859-1";
body {
    padding-top: 50px;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-nav>li>.dropdown-menu>li>a {
    padding: 10px 20px;
    color: #333;
}

.navbar-nav>li>.dropdown-menu>li>a:hover {
    background-color: #f5f5f5;
}

.user-icon {
    color: white;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
