<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee Management</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
body {
	padding-top: 50px;
}

.navbar-brand {
	font-size: 24px;
}

.container {
	margin-top: 20px;
}

.list-group-item {
	font-size: 18px;
	text-align: center;
}

.list-group-item:hover {
	background-color: #f5f5f5;
}

.jumbotron {
	background-color: #f8f9fa;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
</style>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/admin/home">Admin Panel</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
				 <li>
                    <form class="navbar-form" th:action="@{/search}" method="get">
                        <div class="form-group">
                            <input type="text" name="employeeId" class="form-control" placeholder="Search by ID">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                </li>
                
                <li><a href="/listemployees"><span
							class="glyphicon glyphicon-remove"></span> Clear</a></li>
					<li><a href="/welcome"><span
							class="glyphicon glyphicon-home"></span> Home</a></li>
					<li><a href="/logout"><span
							class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- <h2>  Welcome <span th:text="${Profile.firstname}"></span></h2> -->
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Department</th>
				<th>Email</th>
				<th>Edit</th>
				<th th:if="${isAdmin}">Update Role</th>
				<th>Update Password</th>
				<th>Profile</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="emp : ${Employee}">
				<td th:text="${emp.id}"></td>
				<td th:text="${emp.firstname}"></td>
				<td th:text="${emp.department}"></td>
				<td th:text="${emp.email}"></td>
				<td><a type="button" class="btn btn-primary"
					th:href="@{/edit/{id}(id=${emp.id})}">Edit</a></td>
				<td th:if="${isAdmin}"><a type="button" class="btn btn-success"
					th:href="@{/updateRole/{id}(id=${emp.id})}">Update Role</a></td>
				<td><a type="button" class="btn btn-success"
					th:href="@{/updatePassword/{id}(id=${emp.id})}">Update Password</a></td>
				<td><a type="button" class="btn btn-primary"
					th:href="@{/employeessprofile/{id}(id=${emp.id})}">Profile</a></td>
			</tr>
		</tbody>
	</table>

</body>
</html>
