<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee Management</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
body {
	padding-top: 50px;
}

.navbar-brand {
	font-size: 24px;
}

.container {
	margin-top: 20px;
}

.list-group-item {
	font-size: 18px;
	text-align: center;
}

.list-group-item:hover {
	background-color: #f5f5f5;
}

.jumbotron {
	background-color: #f8f9fa;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
</style>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/admin/home">Admin Panel</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/home"><span class="glyphicon glyphicon-home"></span>
							Home</a></li>
					<li><a href="/logout"><span
							class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Main content -->
	<div class="container-fluid mt-4">
		<div class="row">
			<!-- Left side: Employee Management -->
			<div class="col-lg-6">
				<div class="jumbotron bg-light p-4">
					<h2 class="mb-4">Employee Management</h2>
					<div class="list-group">
						<a href="/addemployees" class="list-group-item list-group-item-action">Add Employee</a> 
						<a href="/listemployees" class="list-group-item list-group-item-action">List Employees</a>
						<a href="/employeeForm" class="list-group-item list-group-item-action">Download Employee Form</a>
						<a href="/profile" class="list-group-item list-group-item-action">My Profile</a> 
						<a href="/updateMyPassword" class="list-group-item list-group-item-action">Update MyPassword</a>
					</div>
				</div>
			</div>

			<!-- Right side: Attendance Management -->
			<div class="col-lg-6">
				<div class="jumbotron bg-light p-4">
					<h2 class="mb-4">Attendance Management</h2>
					<div class="list-group">
						<a href="#" class="list-group-item list-group-item-action">View
							Attendance</a> <a href="#"
							class="list-group-item list-group-item-action">Mark
							Attendance</a> <a href="#"
							class="list-group-item list-group-item-action">Attendance
							Reports</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
