<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="UTF-8">
<title>Employee Management</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" th:href="@{/css/navbar.css}">

<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<style>
body {
	padding-top: 50px;
}

.navbar-brand {
	font-size: 24px;
}

.container {
	margin-top: 20px;
}

.list-group-item {
	font-size: 18px;
	text-align: center;
}

.list-group-item:hover {
	background-color: #f5f5f5;
}

.jumbotron {
	background-color: #f8f9fa;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
</style>
</head>
<body>

	<div data-th-insert="views/fragments/navbar :: navbar"></div>


	<!-- Main content -->
	<div class="col-lg-6">
		<div class="jumbotron bg-light p-4">
			<h2 class="mb-4">Employee Actions</h2>
			<div class="list-group">
				<a href="/employeeprofile"
					class="list-group-item list-group-item-action">My Profile</a> <a
					href="/updateMyPassword"
					class="list-group-item list-group-item-action">Update Password</a>

				<!-- Leave Management Dropdown -->
				<a href="#leaveManagement"
					class="list-group-item list-group-item-action"
					data-toggle="collapse">Leave Management</a>
				<div id="leaveManagement" class="collapse">
					<a href="/leaveRequest"
						class="list-group-item list-group-item-action">Request Leave</a> <a
						href="/leaveBalance"
						class="list-group-item list-group-item-action">Leave Balance</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
